@page

@using Domain;

@model IndexModel
@{
    ViewData["Title"] = "Список";
}

<link rel="stylesheet" href="~/@(nameof(App)).styles.css" />



<h4>Список подключений</h4>  
<table>
    <tbody>
        @{
            if (Model.DisplayConnections.Count == 0)
            {
                <a  asp-area="" asp-page="/DbConnections/Add">Добавте подключение</a>
            }
            foreach (DbConnection record in Model.DisplayConnections)
            {
                bool selectFlag = false;               
                if (Model.CurrentDbConnection?.ToLower() == record.Id.ToString().ToLower())
                {
                    selectFlag = true;                    
                }
                <tr>
                    <td>
                        <a asp-page="/Index" asp-route-dBConnectionId="@record.Id.ToString()">
                            <input class=" @(selectFlag ? "check-on" : "check-off")" type='button' name="redirect" />
                        </a>
                    </td>
                    <td>@record.Server</td>
                    <td>@record.Port</td>
                    <td>@record.Database</td>
                    <td>                        
                        <a asp-page="./DbConnections/Del" asp-route-id="@record.Id">Удалить</a>|
                        <a asp-page="./DbConnections/Edit" asp-route-id="@record.Id">Изменить</a>
                    </td>
                </tr>
            
            }
        }
        </tbody>
    </table>

<h3>Записи</h3>

<form method="get">
    <input type="hidden" name="dBConnectionId" value="@Model.CurrentDbConnection" 
    <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
    <p>        
        <label>Время с: <input type="datetime-local" name="startTimeRange" asp-for="@Model.StartTimeRange" /></label>
        <label>По: <input type="datetime-local" name="endTimeRange" asp-for="@Model.EndTimeRange" /></label>
        <label>Номер линии: <input type="number" min="0" name="lineIdFilter" asp-for="@Model.LineIdFilter" /></label>
        <input type="submit" value="Фильтр" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            
            <th>
                <a asp-page="./Index"
                    asp-route-dBConnectionId="@Model.CurrentDbConnection"
                    asp-route-sortOrder="@Model.DateSort" 
                    asp-route-startTimeRange="@Model.StartTimeRange"
                    asp-route-endTimeRange="@Model.EndTimeRange"
                    asp-route-lineIdFilter="@Model.LineIdFilter">
                    @Html.DisplayNameFor(model => model.DisplayedLogRecord[0].DateTime)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-dBConnectionId="@Model.CurrentDbConnection"
                   asp-route-sortOrder="@Model.AreaNumberSort"
                   asp-route-startTimeRange="@Model.StartTimeRange"
                   asp-route-endTimeRange="@Model.EndTimeRange"
                   asp-route-lineIdFilter="@Model.LineIdFilter">
                    @Html.DisplayNameFor(model => model.DisplayedLogRecord[0].AreaNumber)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-dBConnectionId="@Model.CurrentDbConnection"
                   asp-route-sortOrder="@Model.LineIdSort"
                   asp-route-startTimeRange="@Model.StartTimeRange"
                   asp-route-endTimeRange="@Model.EndTimeRange"
                   asp-route-lineIdFilter="@Model.LineIdFilter">
                    @Html.DisplayNameFor(model => model.DisplayedLogRecord[0].LineId)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-dBConnectionId="@Model.CurrentDbConnection"
                   asp-route-sortOrder="@Model.StatusSort"
                   asp-route-startTimeRange="@Model.StartTimeRange"
                   asp-route-endTimeRange="@Model.EndTimeRange"
                   asp-route-lineIdFilter="@Model.LineIdFilter">
                    @Html.DisplayNameFor(model => model.DisplayedLogRecord[0].Status)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-dBConnectionId="@Model.CurrentDbConnection"
                   asp-route-sortOrder="@Model.ImportanceSort"
                   asp-route-startTimeRange="@Model.StartTimeRange"
                   asp-route-endTimeRange="@Model.EndTimeRange"
                   asp-route-lineIdFilter="@Model.LineIdFilter">
                    @Html.DisplayNameFor(model => model.DisplayedLogRecord[0].Importance)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (LogRecord record in Model.DisplayedLogRecord.Take(Model.PageSize))
    {
        <tr>
            <td>@record.DateTime.ToString("G")</td>
            <td>@record.AreaNumber</td>
            <td>@record.LineId</td>
            <td>@record.Status</td>
            <td>@record.Importance</td>
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = Model.PageIndex == 0 ? "disabled" : "";
    var nextDisabled = Model.DisplayedLogRecord.Count() < Model.PageSize + 1 ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-dBConnectionId="@Model.CurrentDbConnection"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-startTimeRange="@Model.StartTimeRange"
   asp-route-endTimeRange="@Model.EndTimeRange"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-lineIdFilter="@Model.LineIdFilter"
   class="btn btn-primary @prevDisabled">
    Предыдущая
</a>
<a asp-page="./Index"
   asp-route-dBConnectionId="@Model.CurrentDbConnection"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-startTimeRange="@Model.StartTimeRange"
   asp-route-endTimeRange="@Model.EndTimeRange"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-lineIdFilter="@Model.LineIdFilter"
   class="btn btn-primary @nextDisabled">
    Следующая
</a>

